
<!-- Toolbar -->
<!-- <router-outlet></router-outlet> -->
<mat-toolbar color="primary">  
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SOFTTEK</span>
  <mat-menu #menu="matMenu">
  </mat-menu>
</mat-toolbar>

<p *ngIf="loading" class="title">Obteniendo datos del clima...</p>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let countryCoord of countryCoords; index as i;">
    <app-weather [countryCoord]="countryCoord"></app-weather>
  </mat-grid-tile>
</mat-grid-list>